.navbar-icon {
  border-radius: 50%;
  display: flex;
  height: 24px;
  width: 24px;
  margin-right: 20px;
  padding: 0;
}

.navbar-icon:hover {
  fill: #50c9f0;
  transition: fill var(--ifm-transition-fast);
}

.navbar__items:hover {
  transition: color var(--ifm-transition-slow);
}
